<p id="notice"><%= notice %></p>

<div class="panel panel-default">

  <div class="panel-body menu">
    <h1 class="robo">Our Menu</h1>
  </div>

</div>

  <% @menu_items.each do |menu_item| %>

    <div class="col-md-4">
      
			<div class="panel panel-default">

			  <div class="panel-heading">
			    <h3 class="panel-title"><%= menu_item.item %>		<%= menu_item.price %></h3>
			  </div>

			  <div class="panel-body menubody">
			    <%= image_tag menu_item.avatar.url(:medium), class: "img-responsive" %>
			    <%= menu_item.description %><br> 
			    <%= link_to 'Show', menu_item, class: "btn btn-default btn-lg btn-block btn-sm" %>
			  </div>

			</div>

		</div>
      
    <% end %>

<br>

<%= link_to 'New Menu item', new_menu_item_path %>


