<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @menu_item.item %>
</p>
<%= image_tag @menu_item.avatar.url(:medium) %>
<p>
  <strong>Description:</strong>
  <%= @menu_item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu_item.price %>
</p>

<%= render 'comments/form' %>

<h4>Comments</h4>
	
			<% @menu_item.comments.each do |comment| %>
		
			<p><strong><%= comment.user.name %></strong></p>
			<p><%= comment.comment_entry %></p>

		<% end %>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
